*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches/gradle_models.ser
.DS_Store
build
out
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser